FORMAT: 1A
HOST: http://www.google.com

# test3
Notes API is a *short texts saving* service similar to its physical paper presence on your table.

# Group Notes
Notes related resources of the **Notes API**

## Notes Collection [/notes]
### List all Notes [GET]
+ Response 200 (application/json)

        [{
          "id": 1, "title": "Jogging in park"
        }, {
          "id": 2, "title": "Pick-up posters from post-office"
        }]

### Create a Note [POST]
+ Request (application/json)

        { "title": "Buy cheese and bread for breakfast." }

+ Response 201 (application/json)

        { "id": 3, "title": "Buy cheese and bread for breakfast." }

## Note [/notes/{id}]
A single Note object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Note to perform action with. Has example value.

### Retrieve a Note [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 2, "title": "Pick-up posters from post-office" }

### Remove a Note [DELETE]
+ Response 204

## Data stuff [/data]
### Get data [GET]
Grab all the information about the thing

+ Parameters
    + id (required, number, '5') ... Unique 'id' of the thing

+ Response 200 (application/json)

        
            "id": 5,
            "name": "Kevin"
        }

### New data [POST]
Create a new thing

+ Parameters
    + name (optional, string, 'Tyler') ... The 'name' of the thing

+ Request (application/json)

        {
            "name": "Tyler"
        }

+ Response 201 (application/json)

        {
            "id": 7, 
            "name": "Tyler"
        }